<%- include('header.ejs')%>

    <div id="resultado">

        <US1>$<%= quantidade %></US1> na cotação de <R1>R$<%= cotacao %></R1> é iqual a: <R1>R$<%= conversao %></R1>
        
    </div>
<%- include('footer.ejs')%>